<div>
  <section class="phx-hero">
    <h1><%= gettext "Welcome to the %{name} beta!", name: "Lunch Randomizer" %></h1>
    <p><%= gettext "An app to help pick where you're gonna eat." %></p>
  </section>
</div>
