<%= form_for @changeset, @action, [], fn f -> %>
  <%= LunchWeb.ErrorView.alert_component(@changeset) %>

  <%= label f, :name, gettext("Name") %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :slug, gettext("Slug") %>
  <%= text_input f, :slug %>
  <%= error_tag f, :slug %>

  <div>
    <%= submit gettext("Save") %>
  </div>
<% end %>
