<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lunch</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section>
        <%= link(img_tag(Routes.static_path(@conn, "/images/phoenix.png"), alt: gettext("%{name} Logo", name: "Lunch"), height: 75), to: logo_link(@conn)) %>
      </section>
      <section>
        <nav role="navigation">
          <ul>
          <%= render LunchWeb.Membership.IdentityView, "_auth_menu.html", assigns %>
          <%= if authenticated?(@conn) do %>
            <li>
              <%= gettext("Organizations") %>
              <ul>
                <%= render LunchWeb.OrganizationView, "_link_list.html", assigns %>
                <li><%= link gettext("New Group"), to: Routes.membership_organization_path(@conn, :new) %></li>
              </ul>
            </li>
          <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
